@media(max-width:1300px) {
    .short-images {
        width: 48%;
    }
    .pairs-image-group {
        gap: .5rem;
    }
    .preview-video {
        width: 50rem;
        height: 30rem;
    }
}
@media(max-width:1050px) {
    .short-images {
        width: 100%;
    }
}
@media(max-width:700px) {
    #header-menu {
        gap: 2rem;
        width: 100%;
    }
    .guides-images {
        width: 80%;
    }
    .preview-video {
        width: 100%;
    }
    .short-images {
        width: 100%;
    }
    #anchorBlank-image {
        height: 3rem;
    }
}
@media(max-width:450px) {
    #header-title {
        font-size: 1.5rem;
    }
    #header-menu {
        gap: .5rem;
        font-size: 1rem;
    }
    .about-paragraph {
        width: 100%;
        margin: 0;
    }
    .guides-images {
        width: 100%;
    }
    #listsSyntax-image {
        height: 100%;
    }
    .short-images {
        height: 50%;
        width: 100%;
    }
    #anchorSyntax-image {
        height: 2rem;
    }
    #anchorBlank-image {
        height: 2rem;
    }
}
@media(max-width:380px) {
    #header-title {
        font-size: 1.5rem;
    }
    #header-menu {
        font-size: .85rem;
    }
}