* {
    scroll-behavior: smooth;
}
body {
    background-color: #2e2e2e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}
#header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #8c4aad;
    margin-bottom: 2rem;
}
#header-title {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
#header-menu {
    display: flex;
    gap: 4rem;
    font-size: 1.5rem;
}
.header-anchor {
    transition: .5s;
}
.header-anchor:hover {
    color: #ab8ddc;
    text-decoration: underline;
}
#about {
    text-align: center;
}
#about-title {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 0 2rem 1rem;
}
#paragraph-group {
    display: flex;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}
#learnings-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.about-paragraph {
    font-size: 1.5rem;
    width: 30%;
}
.guides {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #ab8ddc;
    padding: .5rem;
}
.guides-images {
    width: 50%;
    height: 20rem;
    margin: 1rem 0;
    display: flex;
    margin: auto;
}
.image-location {
    width: 100%;
}
#paragraph-image {
    height: 10rem;
}
.guides-titles {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem 2rem;
}
.guides-text {
    font-size: 1.2rem;
    margin: 2rem;
    width: 40rem;
}
.guides-text-group {
    display: flex;
    flex-direction: column;
}
#titles-menu {
    list-style-type: circle;
    margin-left: 2rem;
}
#titles-guide-group {
    margin: 1rem 0;
}
#titles-guide-h1 {
    font-size: 32pt;
}
#titles-guide-h2 {
    font-size: 26pt;
}
#titles-guide-h3 {
    font-size: 22pt;
}
#titles-guide-h4 {
    font-size: 20pt;
}
#titles-guide-h5 {
    font-size: 13pt;
}
#titles-guide-h6 {
    font-size: 11pt;
}
#paragraph {
    margin-top: 2rem;
    margin-left: 2rem;
}
